body {
	background-color: #333;
	max-width: 99.9%;
	overflow-x: hidden;
}

.card {
	background: transparent;
	margin: 0.5rem;
	padding: 0.5rem;
	cursor: pointer;
	border: none;
	display: inline-block;
	vertical-align: top;
	
	min-width: 23.5%;
	width: 23.5%;
	max-width: 23.5%;
}

.card:hover {
    text-decoration: underline;
}

.card-img-top {
	display: block;
    margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	min-height: 200px;
	height: 200px;
	max-height: 200px;
}

.card-img-top:hover {
	box-shadow: 0 0 3px 3px rgba(255, 215, 0, 0.5), 0 0 10px 10px rgba(255, 215, 0, 0.5);
}

.card-body {
	padding: 0;
	color: #ccc;
	text-shadow: 1px 1px black;
}