body {
	background-color: black;
	color: #ccc;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#video-container {
	position: relative;
	width: 1024px;
	height: 768px;
	margin: 0;
	padding: 0;
}
#vid {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 0;
}
#chat {
	background: transparent;
	position: absolute;
	bottom: 120px;
	width: 100%;
	color: white;
	text-shadow: 2px 2px black;
	z-index: 2;
}
#chatinput {
	position: absolute;
	bottom: 70px;
	width: 100%;
	z-index: 1;
	white-space: nowrap;
	margin: 10px;
	opacity: 0.05;
}
#username {
	width: 18%;
	display: inline-block;
}
#usertext {
	width: 78%;
	display: inline-block;
}